<div class="row">
    <div class="col"><h1 class="text-center">Task Manager</h1></div>

</div>
<div class="row fill">
    <div class="col fill">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="btn-group m-2 btn-group-lg" role="group" aria-label="First group">
                        <button id="btn-dock-intervention" type="button" class="btn btn-success" ><span class="fa fa-plug"></span> Dock</button>
                        <button id="btn-undock-intervention" type="button" class="btn btn-warning">Undock</button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="input-group m-2">
                        <input id="input-talk" type="text" class="form-control" placeholder="Text to say" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button id="btn-talk-intervention" class="btn btn-primary" type="button"><span class="fa fa-comment"></span> Talk</button>
                        </div>
                    </div>
                </div>
        </div>

    </div>

    </div>
    <div id="tree" class="col treeview">
    </div>
</div>

