<div class="row">
    <div class="col fill"><h1 class="text-center">Navigation</h1></div>
</div>

<div class="row fill">
    <div class="col fill"></div>
    <div id="map" class="col-8 fill"></div>
</div>


